<!-- <app-base-page></app-base-page> -->
<section class="about__section">
    <!-- <img src="Content/assets/synergy-logo.jpg" alt="" /> -->
    <h2 class="about__section--heading">Synergy</h2>
    <div class="about__section--description">
    <h3> An online survey platform for students</h3>
    </div>
  
    <h3>Contributors:</h3>
    <div class="devs">
      <!-- <img src="Content/assets/1.png" alt="Dev" />
      <img src="Content/assets/2.png" alt="Dev" />
      <img src="Content/assets/3.png" alt="Dev" />
      <img src="Content/assets/4.png" alt="Dev" />
      <img src="Content/assets/5.png" alt="Dev" /> -->
  <ul>
    <li>Glenn Dacara - 301125864</li>
    <li>Ivan Racal - 301130800</li>		
    <li>Marcelo Veintimilla - 301211655</li>		
    <li>Racyn Ibaya - 301198791</li>	
    <li>Roshan Rai - 301217592</li>	
    <li>Tingting Guo - 300881046</li>	
  </ul>
    </div>
  </section>
